/*  Imports */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300,400italic);
/*  Global */
em { font-style: italic }
strong { font-weight: 700 }
small { font-size: 50%; }
a, button { cursor: pointer; }
del { text-decoration: line-through; }
ins { text-decoration: none; border-bottom: 3px double; }
img {
    max-width: 100%;
    height: auto;
    padding: 0.2em;
    border: 0.2em solid rgba(52, 73, 94, 0.2);
}
* { box-sizing: border-box; }
html {
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', sans-serif;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    padding-top: 50px;
}
.container {

}
#login {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
}
.footer {
    text-align: center;
}
#center-form {
    margin: 0 auto;
    max-width: 30vw;
}

#center-form p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    background: #fff;
    padding: 20px;
}
.navbar-decode {
    background-color:#2c3e50;
    color:#ffffff;
    border-radius:0;
}

.navbar-decode .navbar-nav > li > a {
    color:#fff;
}
.navbar-decode .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-decode .navbar-brand {
    color:#eeeeee;
}

.navbar-decode .navbar-nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: #3b4d5f; }

#banner {
    width: 100%;
    background: #525252; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: #fff;
}
#banner h1 {
    padding-top: 10vh;
    margin: 0;

}
#banner p {
    padding-bottom: 10vh;
    color: #dddddd;
}

@-webkit-keyframes book-bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes book-bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes shelf-lift {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    20% {
        -webkit-transform: translateY(-4px) rotate(10deg);
        transform: translateY(-4px) rotate(10deg);
    }
    40% {
        -webkit-transform: translateY(-4px) rotate(0);
        transform: translateY(-4px) rotate(0);
    }
    40% {
        -webkit-transform: translateY(-4px) rotate(-10deg);
        transform: translateY(-4px) rotate(-10deg);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes shelf-lift {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    20% {
        -webkit-transform: translateY(-4px) rotate(10deg);
        transform: translateY(-4px) rotate(10deg);
    }
    40% {
        -webkit-transform: translateY(-4px) rotate(0);
        transform: translateY(-4px) rotate(0);
    }
    40% {
        -webkit-transform: translateY(-4px) rotate(-10deg);
        transform: translateY(-4px) rotate(-10deg);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.book-shelf:hover {
    cursor: pointer;
}
.book-shelf:hover .book-shelf__book {
    -webkit-animation: book-bounce 0.4s ease;
    animation: book-bounce 0.4s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.book-shelf:hover .book-shelf__book--two {
    -webkit-animation-delay: 0.04s;
    animation-delay: 0.04s;
}
.book-shelf:hover .book-shelf__book--three {
    -webkit-animation-delay: 0.08s;
    animation-delay: 0.08s;
}
.book-shelf:hover .book-shelf__shelf {
    -webkit-animation: shelf-lift 0.4s ease;
    animation: shelf-lift 0.4s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}