/*  Global */
em { font-style: italic }
strong { font-weight: 700 }
small { font-size: 50%; }
a, button { cursor: pointer; }
del { text-decoration: line-through; }
ins { text-decoration: none; border-bottom: 3px double; }
img {
    max-width: 100%;
    height: auto;
    padding: 0.2em;
    border: 0.2em solid rgba(52, 73, 94, 0.2);
}
* { box-sizing: border-box; }
html {
    text-rendering: optimizeLegibility;
    font-family: Verdana,Geneva,sans-serif;
}
body {
    background-color: #f9f9f9;
    color: #505458;
}
/* End Global */

/* ICMS Attributes */
.container {

}
.margin0 {
    padding: 0 !important;
    margin: 0 !important;
}
#login {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
}
.footer {
    padding-top: 10px;
    text-align: center;
    background: #28282e;
    color: #fff;
}
#center-form {
    margin: 0 auto;
    max-width: 30vw;
}

#center-form p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-center {
    text-align: center;
}
/* Topbar Navigation */
.navbar-decode {
    background-color:#28282e ;
    color:#ffffff;
    border-radius:0;
}

.navbar-decode .navbar-nav > li > a {
    color:#fff;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.navbar-decode .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-decode .navbar-brand {
    color:#eeeeee;
}

.navbar-decode .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #3498db;
}
/* End Topbar Navigation */
/* End ICMS */
/* Decode Theme */
#banner {
    width: 99vw;
    background: #28282e;
    text-align: left;
    color: #fff;
    overflow:auto;
}

#banner img {
    padding-top: 5vh;
    max-height: 70vh;
    max-width: 40vw;
    margin: 30px;
}
#banner-left {
    margin-top: 15vh;
}

.headline {
    font-size: 3em;
    margin: 0;
}
#banner p {
    padding-bottom: 10vh;
    color: #dddddd;
}
/* HELPER CLASSES */
.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-md {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-lg {
    padding-top: 150px;
    padding-bottom: 150px;
}

.padding-b-0 {
    padding-bottom: 0px !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-dark {
    background-color: #28282e !important;
    color: #fff;
}
.bg-alt {
    background-color: #dcdce2 !important;
}
/* End Decode Theme */
/* BUTTONS */

.btn-dark {
    background-color: #3b4a69;
    color: #fff !important;
    padding: 9px 20px !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.btn-white {
    background-color: #fff;
    color: #505458 !important;
    padding: 9px 20px !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.btn-custom,.btn-custom:hover,.btn-custom:focus {
    background-color: #43cea2;
    color: #fff !important;
    padding: 9px 20px !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.btn-dark:hover,.btn-white:hover {
    background-color: #43cea2;
    color: #fff !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn-yellow {
    background-color: #f9c851;
    color: #ffffff !important;
    padding: 9px 20px !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.video-btn {
    color: #ffffff !important;
    letter-spacing: 1px;
    padding-top: 20px;
    outline: none !important;
}

.video-btn i {
    margin-right: 7px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 17px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    padding-left: 3px;
    margin-left: -12px;
}

.btn-app-download {
    padding: 10px 22px 10px 65px;
    position: relative;
    border: 2px solid #3498db;
    display: inline-block;
    color: #3498db;
    margin-right: 10px;
    text-align: left;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.btn-app-download:hover,.btn-app-download:focus{
    color: #fff;
    outline: none;
    background: #3498db;
}

.btn-app-download i {
    font-size: 30px;
    left: 0;
    line-height: 1;
    margin: 13px 0 0 20px;
    position: absolute;
    top: 0;
}

.btn-app-download strong {
    display: block;
    font-weight: 700;
    margin-bottom: 6px;
}

.btn-app-download span {
    display: block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: -3px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.btn-purchase {
    font-size: 16px;
}

.btn-purchase i {
    font-size: 36px;
}

.btn-purchase span {
    font-size: 14px;
    opacity: 1;
}

.img-responsive {
    border: none;
}
/* End BUTTONS */

/* Subscribe Form */

.subscribe-form form{
    position: relative;
    max-width: 600px;
    margin: 10px auto;
}

.subscribe-form input {
    padding: 15px 20px;
    width: 100%;
    font-size: 17px;
    color: #fff;
    border: none;
    outline: none !important;
    padding-right: 150px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 30px;
}

.subscribe-form button {
    position: absolute;
    top: 4px;
    right: 4px;
    outline: none !important;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 17px;
    background: #3498db;
    padding: 11px 30px;
}
.subscribe-form button:hover {
    background: #28282e;
}

/* End Subscribe Form */
/* Author Cards */
.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .christine {
    background: url("http://1vze7o2h8a2b2tyahl3i0t68.wpengine.netdna-cdn.com/wp-content/uploads/2013/07/Hopper_Nighthawk_5001.jpeg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .meral {
    background: url("https://www.artnews.com/wp-content/uploads/2016/05/05-16_w-r_Bosch_2.jpg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
/* End Author Cards */
/* Shipping Form */
h2.bg-success{
    padding: 15px;
}

.required-lbl{
    color: red;
}

.card-expiry{
    padding-left: 0px;
}
/* End Shipping Form */

/* Bookshelf Animation */
@-webkit-keyframes book-bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes book-bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes shelf-lift {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    20% {
        -webkit-transform: translateY(-4px) rotate(10deg);
        transform: translateY(-4px) rotate(10deg);
    }
    40% {
        -webkit-transform: translateY(-4px) rotate(0);
        transform: translateY(-4px) rotate(0);
    }
    40% {
        -webkit-transform: translateY(-4px) rotate(-10deg);
        transform: translateY(-4px) rotate(-10deg);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes shelf-lift {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    20% {
        -webkit-transform: translateY(-4px) rotate(10deg);
        transform: translateY(-4px) rotate(10deg);
    }
    40% {
        -webkit-transform: translateY(-4px) rotate(0);
        transform: translateY(-4px) rotate(0);
    }
    40% {
        -webkit-transform: translateY(-4px) rotate(-10deg);
        transform: translateY(-4px) rotate(-10deg);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.book-shelf:hover {
    cursor: pointer;
}
.book-shelf:hover .book-shelf__book {
    -webkit-animation: book-bounce 0.4s ease;
    animation: book-bounce 0.4s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.book-shelf:hover .book-shelf__book--two {
    -webkit-animation-delay: 0.04s;
    animation-delay: 0.04s;
}
.book-shelf:hover .book-shelf__book--three {
    -webkit-animation-delay: 0.08s;
    animation-delay: 0.08s;
}
.book-shelf:hover .book-shelf__shelf {
    -webkit-animation: shelf-lift 0.4s ease;
    animation: shelf-lift 0.4s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
/* End Bookshelf Animation */