<?php
environment = production

[production]

site.name = ""
site.description = ""
site.cwd = ""
site.url = ""
site.email = ""
site.template = "default"
site.language = "EN-US"
database.name = ""
database.user = ""
database.password = ""
database.host = "localhost"
database.port = "3306"
email.host = "smtp.gmail.com"
email.port = "587"
email.auth = ""
email.user = ""
email.pass = ""
email.clientid = ""
email.clientsecret = ""
addons.mailchimpapi = ""
addons.mailchimplist = ""
debug = false